@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.btn-secondary {
    background-color: transparent !important;
    border: none !important;
    & i {
        color: black;
        &:hover {
            color: rgb(104, 220, 255);
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.bg-light {
    max-width: 500px;
}

.bg-light form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    position: relative;
}


.info {
    right: 0 !important;
}